<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Assignment-19.1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <!-- dynamic title -->
    <h1><%= title %></h1>
    <h4><%= message %></h4>
    <hr>
    <form action="/" method="POST" class="w-25 ml-3">
        NAME: <input type="text" name="fullname" class="form-control"><br>
        ADDRESS: <textarea class="form-control" name="address" rows="3"></textarea><br>
        USERNAME: <input type="text" name="username" class="form-control"><br>
        PASSWORD: <input type="password" name="password" class="form-control"><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>   
</body>
</html>